<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ab.css">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>About Me</h1>
    <div>
        <ul class="overall">
            <li>
                <div>
                    <time>HIGH SCHOOL CLASS 10TH </time>
                    <P>Chitkara International School<br>
                    2018</P>
                </div>
            </li>
            <li>
                <div>
                    <time>SECONDARY EDUCATION</time>
                    <p>Sharda Sarvhitkari Model Sr. Sec. School<br>
                        2020
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <time>Bachelors of Technology </time>
                    <p>COLLEGE : Punjab Engineering College</p>
                    <p>BRANCH : Electronics and Communication Engineering</p>
                    <p>PASSING YEAR : 2025</p>
                </div>
            </li>
            <li>
                <div>
                    <time>Skills</time>
                   Data Structures
                        Algorithms
                        HTML
                        CSS
                        Java Script
                        Node Js
                        Express Js
                        Mongo Db
                </div>
            </li>
            <li>
                <div>
                    <time>Extra Curricular</time>
                    <p>Member of the Dramatics Club</p>
                    <p>Member of the Implementation Body at PEC-ACM CSS</p>
                </div>
            </li>
            <li>
                <div>
                    <time>Work Experience</time>
                   <p>Teaching Assisstant @Coding Ninjas (Dec 2022 - Apr 2023)</p>
                </div>
            </li>
            <li>
                <div>
                    <time>Work Experience</time>
                   <ul>
                    <li><div><a href="https://leetcode.com/Chirag27/">LEETCODE</a></div></li>
                    <li><div><a href="https://www.codechef.com/users/chir4g_7">CODECHEF</a></div></li>
                    <li><div><a href="https://codeforces.com/profile/chiraggupta2019">CODEFORCES</a></div></li>
                    <li><div><a href="https://auth.geeksforgeeks.org/user/chiraggupta2019/?utm_source=geeksforgeeks&utm_medium=my_profile&utm_campaign=auth_user">GEEKS FOR GEEKS</a></div></li>
                   </ul>
                </div>
            </li>
            
        </ul>

    </div>
    <script src="ab.js"></script>
</body>

</html>