<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="proj_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <title>Projects</title>
</head>
<body>
  <header class="header">
    PROJECTS
  </header>
  <div class="body1">
    
    <div class="content">
      <i id="left" class="fa fa-angle-left"></i>
      <ul class="content-inner">
       <li class="card">
         <div class="card-item">
           <img src="images/weamther.jpeg" alt="">
           <h4>WEATHER APPLICATION</h4>
           <p>An application which could get you details of the wether of any city.</p>
          
         </div>
       </li>
       <li class="card">
         <div class="card-item">
           <img src="images/toto.jpeg" alt="">
           <h4>TO-DO LIST</h4>
           <span>Want to keep a track of your chores here's an app for you.</span>
           
         </div>
       </li>
       <li class="card">
        <div class="card-item">
          <img src="images/blog.svg" alt="">
          <h4>BLOG POSTING APP</h4>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, soluta?</span>
        </div>
      </li>
       <li class="card">
         <div class="card-item">
           <img src="images/spa.png" alt="">
           <h4>SHORTEST PATH CALCULATOR</h4>
           <span>Implemented Dijkstra's algo to find Shorted path between two points.</span>
           
         </div>
       </li>
       <li class="card">
         <div class="card-item">
           <img src="images/e-commerce-.jpg" alt="">
           <h4>E-COMMERCE WEBSITE</h4>
           <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, soluta?</span>
         </div>
       </li>
       <li class="card">
        <div class="card-item">
          <img src="images/dice.avif" alt="">
          <h4>DICE GAME</h4>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, soluta?</span>
        </div>
      </li>
      <li class="card">
        <div class="card-item">
          <img src="images/spotify.png" alt="">
          <h4>SPOTIFY CLONE</h4>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, soluta?</span>
        </div>
      </li>
      <li class="card">
        <div class="card-item">
          <img src="images/TEXT.png" alt="">
          <h4>TEXT COMPRESSOR</h4>
          <span>Reduces the size of a give text file with decent percentage of compression.</span>
        </div>
      </li>
      </ul>
     
      <i id="right" class="fa fa-angle-right"></i> 
     </div>
     
  </div>
  
 <script src="prod_src.js"></script>
</body>
</html>